.header-wrapper {
  width: 80vw;
  
  .resume-link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-decoration: none;
    color: #1D7874;
    span {
      font-size: 22px;
    }
  }
  .resume-link:hover {
    font-weight: bold;
  }

  .contact-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;

    .contact-icon {
      margin: 1vw;
    }
  }

  .text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }

    .heading-wrapper {
      h1, h1 span {
        font-family: 'Raleway';
        font-size: 3rem;
        line-height: 20px;
        text-align: center;
        @include media(">=phone", "<lgphone") {
          font-size: 1.5rem;
          line-height: 10px;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 1.5rem;
          line-height: 10px;
        }
        @include media(">=tablet", "<desktop") {
          font-size: 2.5rem;
        }
      }
    }
    p {
      font-family: 'Montserrat';
      font-size: 26px;
      width: 60%;
      overflow: hidden;
      text-align: center;
      @include media(">=phone", "<lgphone") {
        font-size: 16px;
        width: 100%;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 18px;
        width: 100%;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 20px;
        width: 100%;
      }
    }
  }

  .container-divider {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}
